#container{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    background:rgb(239, 234, 234);
   
}
.calculator{
    background-color:#3e4452;
    border-radius: 10px;
    padding: 20px;
}
.calculator form input{
    border:0;
    outline:0;
    width:60px;
    height:60px;
    font-size: 20px;
    border-radius: 10px;
    color:black;
    cursor:pointer;
    margin:10px;
    
}
 form #display1{
    width:100%;
  }
  form #display1 input{
    
    width:calc(100% - 20px);
  }
  form input.equal{
  width:145px;
  }
  .header:active{
    background-color:blue !important;
  }
  .active-bg-color{
    background-color: #f5360b !important;
  }